<h1>Memory Game</h1>
<h1>Join a Game</h1>
<input type="text" id="gamename" onkeyup="change()" required>
<br>
<a id="join"> Join
</a>

<script>
  function change(){
    let gname = $('#gamename').val();
    $('#join').attr('href', "/memory/" + String(gname));
  }
</script>
